<!-- 完形填空 -->
<div class="col-md-12" ng-controller="ClozeController">
  <div class="row">
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
          <h3>完型填空</h3>
        </div>
        <div class="col-sm-5">
          <a role="button" class="btn btn-danger pull-right" ng-click="save()">保存</a>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">四六级 :</label>
        <div class="col-sm-6">
          <a role="button" class="btn btn-info" ng-class="{'CET4': 'btn-info', 'CET6': 'btn-default'}[cloze.examType]">四  级</a>
          <a role="button" class="btn btn-default" ng-class="{'CET6': 'btn-info', 'CET4': 'btn-default'}[cloze.examType]">六  级</a>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label for="year" class="col-sm-2 control-label">年份 :</label>
        <div class="col-sm-3">
          <input type="text" id="year" ng-model="cloze.year" class="year form-control" placeholder="请选择年份">
        </div>
      </div>
    </div>
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">月份 :</label>
        <div class="col-sm-6 month">
          <a role="button" class="btn btn-info" ng-class="{'6': 'btn-info', '12': 'btn-default'}[cloze.month]">  6 月  </a>
          <a role="button" class="btn btn-default" ng-class="{'12': 'btn-info', '6': 'btn-default'}[cloze.month]">  12月  </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label for="writing_content" class="col-sm-2 control-label">题干 :</label>
        <div class="col-sm-10">
          <textarea rows="8" id="writing_content" ng-model="cloze.article" class="form-control" placeholder="请输入完形填空题的题干"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">选项 :</label>
        <div class="col-sm-10">
          <div class="col-md-12 form-horizontal">
            <div class="form-group">
              <label for="cloze_A" class="col-sm-1 control-label">A :</label>
              <div class="col-sm-3">
                <input id="cloze_A" ng-model="cloze.options.A" class="form-control" placeholder="请输入选项A" />
              </div>
              <label for="cloze_B" class="col-sm-1 control-label">B :</label>
              <div class="col-sm-3">
                <input id="cloze_B" ng-model="cloze.options.B" class="form-control" placeholder="请输入选项B" />
              </div>
              <label for="cloze_C" class="col-sm-1 control-label">C :</label>
              <div class="col-sm-3">
                <input id="cloze_C" ng-model="cloze.options.C" class="form-control" placeholder="请输入选项C" />
              </div>

              <label for="cloze_D" class="col-sm-1 control-label">D :</label>
              <div class="col-sm-3">
                <input id="cloze_D" ng-model="cloze.options.D" class="form-control" placeholder="请输入选项D" />
              </div>
              <label for="cloze_E" class="col-sm-1 control-label">E :</label>
              <div class="col-sm-3">
                <input id="cloze_E" ng-model="cloze.options.E" class="form-control" placeholder="请输入选项E" />
              </div>

              <label for="cloze_F" class="col-sm-1 control-label">F :</label>
              <div class="col-sm-3">
                <input id="cloze_F" ng-model="cloze.options.F" class="form-control" placeholder="请输入选项F" />
              </div>

              <label for="cloze_G" class="col-sm-1 control-label">G :</label>
              <div class="col-sm-3">
                <input id="cloze_G" ng-model="cloze.options.G" class="form-control" placeholder="请输入选项G" />
              </div>

              <label for="cloze_H" class="col-sm-1 control-label">H :</label>
              <div class="col-sm-3">
                <input id="cloze_H" ng-model="cloze.options.H" class="form-control" placeholder="请输入选项H" />
              </div>

              <label for="cloze_I" class="col-sm-1 control-label">I :</label>
              <div class="col-sm-3">
                <input id="cloze_I" ng-model="cloze.options.I" class="form-control" placeholder="请输入选项I" />
              </div>

              <label for="cloze_J" class="col-sm-1 control-label">J :</label>
              <div class="col-sm-3">
                <input id="cloze_J" ng-model="cloze.options.J" class="form-control" placeholder="请输入选项J" />
              </div>

              <label for="cloze_K" class="col-sm-1 control-label">K :</label>
              <div class="col-sm-3">
                <input id="cloze_K" ng-model="cloze.options.K" class="form-control" placeholder="请输入选项K" />
              </div>

              <label for="cloze_L" class="col-sm-1 control-label">L :</label>
              <div class="col-sm-3">
                <input id="cloze_L" ng-model="cloze.options.L" class="form-control" placeholder="请输入选项L" />
              </div>

              <label for="cloze_M" class="col-sm-1 control-label">M :</label>
              <div class="col-sm-3">
                <input id="cloze_M" ng-model="cloze.options.M" class="form-control" placeholder="请输入选项M" />
              </div>

              <label for="cloze_N" class="col-sm-1 control-label">N :</label>
              <div class="col-sm-3">
                <input id="cloze_N" ng-model="cloze.options.N" class="form-control" placeholder="请输入选项N" />
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label for="cloze_analysis" class="col-sm-2 control-label">分析 :</label>
        <div class="col-sm-10">
          <textarea rows="2" id="cloze_analysis" ng-model="cloze.analysis" class="form-control" placeholder="请输入此题的解析"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">知识点 :</label>
        <div class="col-sm-10">
          <a role="button" class="btn btn-info">选择知识点</a>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10"></div>
      </div>
    </div>
  </div>
</div>
