<!-- 写作 -->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <strong>Directions</strong>: In this section, you will hear 8 short conversations and 2 long conversations. At the end of each conversation, one or more questions will be asked about what was said. Both the conversation and the questions will be spoken only once. After each question there will be a pause. During the pause, you must read the four choices marked A), B), C) and D), and decide which is the best answer. Then mark the corresponding letter on <strong>Answer Sheet 1</strong> with a single line through the centre.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Suppose a foreign friend of yours is coming to visit your hometown,
            what is the most interesting place you would like to take him/her to see and why?
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            _________________________________________________________________________________
            _________________________________________________________________________________
        </div>
    </div>
</div>